{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Editar Equipo</h1>

<div class="card-form">

    <form method="POST">

        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="nombre" value="{{ equipo.nombre }}" required>
        </div>

        <div class="form-group">
            <label>Tipo:</label>
            <select name="id_tipo" required>
                {% for t in tipos %}
                <option value="{{ t.id }}" {% if t.id == equipo.id_tipo %}selected{% endif %}>
                    {{ t.nombre }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Marca:</label>
            <input type="text" name="marca" value="{{ equipo.marca }}">
        </div>

        <div class="form-group">
            <label>Modelo:</label>
            <input type="text" name="modelo" value="{{ equipo.modelo }}">
        </div>

        <div class="form-group">
            <label>Categoría:</label>
            <select name="categoria" required class="form-control" style="width:100%; padding:8px; margin-top:5px;">
                <option value="Infraestructura" {{ 'selected' if equipo.categoria == 'Infraestructura' else '' }}>Infraestructura</option>
                <option value="Hardware" {{ 'selected' if equipo.categoria == 'Hardware' else '' }}>Hardware</option>
                <option value="Cableado" {{ 'selected' if equipo.categoria == 'Cableado' else '' }}>Cableado</option>
                <option value="Red" {{ 'selected' if equipo.categoria == 'Red' else '' }}>Red</option>
                <option value="Periférico" {{ 'selected' if equipo.categoria == 'Periférico' else '' }}>Periférico</option>
                <option value="Accesorio" {{ 'selected' if equipo.categoria == 'Accesorio' else '' }}>Accesorio</option>
            </select>

        </div>

        <div class="form-group">
            <label>Estado:</label>
            <select name="estado">
                <option value="Operativo" {% if equipo.estado == "Operativo" %}selected{% endif %}>Operativo</option>
                <option value="En mantenimiento" {% if equipo.estado == "En mantenimiento" %}selected{% endif %}>En mantenimiento</option>
                <option value="Con falla" {% if equipo.estado == "Con falla" %}selected{% endif %}>Con falla</option>
                <option value="Fuera de servicio" {% if equipo.estado == "Fuera de servicio" %}selected{% endif %}>Fuera de servicio</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            Guardar cambios
        </button>

    </form>

    <a href="/" class="volver-link">← Volver</a>

</div>

{% endblock %}
