{% extends "base.html" %}
{% block content %}

<h1 class="titulo-pagina">Inventario del Laboratorio</h1>

<!-- Botón Registrar -->
<div class="boton-superior">
    <a href="/equipos/nuevo" class="btn-principal">
        ➕ Registrar Nuevo Equipo
    </a>
</div>

<!-- Contenedor de tabla -->
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Estado</th>
            <th>Ubicación</th>
            <th style="text-align:center;">Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for e in equipos %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.tipo }}</td>
            <td>{{ e.marca }}</td>
            <td>{{ e.modelo }}</td>
            <td>{{ e.estado }}</td>
            <td>{{ e.ubicacion }}</td>
            <td class="col-acciones">
                <a href="/equipos/editar/{{ e.id }}" class="btn-accion btn-editar">Editar</a>
                <a href="/equipos/eliminar/{{ e.id }} " 
                   class="btn-accion btn-eliminar"
                   onclick="return confirm('¿Eliminar equipo del inventario?');">
                   Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
