{% extends "base.html" %}
{% block content %}
<h1>Inventario del Laboratorio</h1>
<div style="margin-bottom: 20px;">
    <a href="/equipos/nuevo" 
       style="display:inline-block; background-color:#007bff; color:white; padding:10px 15px; border-radius:6px; text-decoration:none; margin-right:10px;">
        ➕ Registrar Nuevo Equipo
    </a>
</div>

<table border="1" cellpadding="8" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Estado</th>
            <th>Ubicación</th>
        </tr>
    </thead>
    <tbody>
        {% for e in equipos %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.tipo }}</td>
            <td>{{ e.marca }}</td>
            <td>{{ e.modelo }}</td>
            <td>{{ e.estado }}</td>
            <td>{{ e.ubicacion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
