{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Registrar Nuevo Repuesto</h1>

<div class="card-form">

    <form method="POST">

        <div class="form-group">
            <label>Nombre del repuesto:</label>
            <input type="text" name="nombre" required>
        </div>

        <div class="form-group">
            <label>Tipo o categoría:</label>
            <input type="text" name="tipo" required>
        </div>

        <div class="form-group">
            <label>Cantidad inicial:</label>
            <input type="number" name="cantidad" min="0" required>
        </div>

        <div class="form-group">
            <label>Stock mínimo:</label>
            <input type="number" name="stock_minimo" min="0" required>
        </div>

        <button type="submit" class="btn btn-primary">
            Registrar Repuesto
        </button>

    </form>

    <a href="/repuestos" class="volver-link">← Volver al inventario</a>

</div>

{% endblock %}
