{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Registrar Nuevo Equipo</h1>

<div class="card-form">

    <form method="POST">

        <div class="form-group">
            <label>Nombre del equipo:</label>
            <input type="text" name="nombre" required>
        </div>

        <div class="form-group">
            <label>Tipo de equipo:</label>
            <select name="id_tipo" required>
                <option value="">Seleccione un tipo...</option>
                {% for t in tipos %}
                <option value="{{ t.id }}">{{ t.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Marca:</label>
            <input type="text" name="marca">
        </div>

        <div class="form-group">
            <label>Modelo:</label>
            <input type="text" name="modelo">
        </div>

        <div class="form-group">
            <label>Ubicación:</label>
            <input type="text" name="ubicacion">
        </div>

        <button type="submit" class="btn btn-primary">
            Registrar Equipo
        </button>

    </form>

    <a href="/" class="volver-link">← Volver al inventario</a>

</div>

{% endblock %}
