{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Inventario de Repuestos</h1>

<div class="boton-superior">
    <a href="/repuestos/nuevo" class="btn-principal">
        Registrar Nuevo Repuesto
    </a>
</div>

<p style="margin-top:10px; margin-bottom:20px;">
    Total de repuestos: <b>{{ repuestos|length }}</b> |
    En alerta: <b>{{ repuestos | selectattr('estado_stock', 'equalto', 'danger') | list | length }}</b>
</p>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Stock mínimo</th>
                <th>Estado</th>
                <th style="text-align:center;">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for r in repuestos %}
            <tr class="
                {% if r.estado_stock == 'danger' %}row-danger
                {% elif r.estado_stock == 'warning' %}row-warning
                {% else %}row-ok
                {% endif %}
            ">
                <td>{{ r.id }}</td>
                <td>{{ r.nombre }}</td>
                <td>{{ r.tipo }}</td>
                <td>{{ r.cantidad }}</td>
                <td>{{ r.stock_minimo }}</td>
                <td><strong>{{ r.mensaje_stock }}</strong></td>
                <td class="col-acciones">
                    <a href="/repuestos/editar/{{ r.id }}" class="btn-accion btn-editar">Editar</a>
                    <a href="/repuestos/eliminar/{{ r.id }}" class="btn-accion btn-eliminar"
                    onclick="return confirm('¿Eliminar repuesto?');">Eliminar</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
