{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Tareas Correctivas</h1>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Equipo</th>
                <th>Prioridad</th>
                <th>Fecha creación</th>
                <th>Fecha límite</th>
                <th>Días restantes</th>
                <th>Estado</th>
                <th style="text-align: center;">Técnico asignado</th>
                <th>Observaciones</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            {% for t in tareas %}
            <tr class="alert-row-{{ t.color or 'neutral' }}">
                <form method="POST" action="/tareas/actualizar">

                    <td>{{ t.id }}</td>
                    <td>{{ t.equipo }}</td>
                    <td>{{ t.prioridad }}</td>

                    <td>{{ t.fecha_creacion.strftime('%d/%m/%Y') }}</td>
                    <td>{{ t.fecha_limite.strftime('%d/%m/%Y') if t.fecha_limite else '-' }}</td>

                    <td>
                        {% if t.dias_restantes is not none %}
                            {% if t.dias_restantes < 0 %}
                                <b style="color:red">{{ t.dias_restantes }}</b>
                            {% else %}
                                {{ t.dias_restantes }}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <select name="estado">
                            <option value="Pendiente"   {% if t.estado == 'Pendiente' %}selected{% endif %}>Pendiente</option>
                            <option value="En proceso"  {% if t.estado == 'En proceso' %}selected{% endif %}>En proceso</option>
                            <option value="Completada"  {% if t.estado == 'Completada' %}selected{% endif %}>Completada</option>
                        </select>
                    </td>
                    <td style="text-align: center;">{{ t.tecnico or "Sin asignar" }}</td>
                    <td>
                        <input type="text" name="observaciones" value="{{ t.observaciones or '' }}">
                    </td>

                    <td >
                        <input type="hidden" name="id_tarea" value="{{ t.id }}">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </td>

                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if tareas|length == 0 %}
<p style="margin-top:20px;">No hay tareas registradas.</p>
{% endif %}

{% endblock %}
